.jumbotron {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/9/94/Starry_Night_Over_the_Rhone.jpg/2560px-Starry_Night_Over_the_Rhone.jpg");
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 15%;
    height: 80vh;
    /* vh: viewport height 視窗可見區域的高度 */
}